.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 340px;
  max-width: 340px;
  align-items: flex-end;
}

.chat__history {
  overflow: auto;
  flex-grow: 1;
  align-self: flex-start;
}

.chat__input {
  bottom: 0;
  width: 100%;
}